<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <hr>
        <div align="center">
            <table border="0">
                <form method="POST">
                    <tr>
                        <th>
                            Email
                        </th>
                        <td>
                            <input type="email" name="email" value="" size="24">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Password
                        </th>
                        <td>
                            <input type="password" name="password" value="" size="24">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="submit">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <div align="center">
            <a href="/signup">Sign Up</a>
        </div>
    </body>
</html>